
<div class="editPage">
  <div class="titleArea">
    <h1>ユーザー名を編集</h1>
  </div>
  <div class="container">
    <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, local: true do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
      </div>
  

      <div class="text-center">
         <%= f.submit "更新", class: "btn submitBtn" %>
      </div>

    <%end%>


  </div>
</div>

<%#ここまで編集#%>

